1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [16]:
a = "Mickey"
b = "Mouse"
lista = []

for i in range(0,100):
    if (i < 5):
        if ( i == 3):
            lista.append(a)
        elif ( i == 5):
            lista.append(b)
        else:
            lista.append(i)
    else: 
        if ( i % 3 == 0 and i % 5 == 0):
            lista.append(a+b)
        elif ( i % 3 == 0):
            lista.append(a)
        elif ( i % 5 == 0 ):
            lista.append(b)
        else:
            lista.append(i)

tupla = tuple(lista)
print (tupla)

(0, 1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [27]:
x = int(input("set the value of x"))
y = int(input("set the value of y"))


def swap (x, y):
    temp = y
    y = x
    x = temp
    print ("x swapped value = %1d"% (x))
    print ("y swapped value = %1d"% (y))

swap(x,y)

set the value of x 4
set the value of y 3

x swapped value = 3
y swapped value = 4

In [28]:
x = int(input("set the value of x"))
y = int(input("set the value of y"))


def swap (x, y):
    lista = [x,y]
    x = lista[1]
    y = lista[0]
    print ("x swapped value = %1d"% (x))
    print ("y swapped value = %1d"% (y))

swap(x,y)

set the value of x 4
set the value of y 3

x swapped value = 3
y swapped value = 4

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [35]:
import math

u = (2,5)
v = (9,4)

def distance(u,v):
    print(math.sqrt((u[0] - v[0])**2 + (u[1] - v[1])**2))

distance(u,v)

7.0710678118654755

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [44]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [49]:
s = s.lower()
char = [x for x in s]
for i in range(len(char)):
    count = s.count(char[i])
    print (char[i], "%1d times"% (count))

w 2 times
r 17 times
i 14 times
t 19 times
e 22 times
  41 times
a 7 times
  41 times
p 8 times
r 17 times
o 13 times
g 1 times
r 17 times
a 7 times
m 12 times
  41 times
t 19 times
h 9 times
a 7 times
t 19 times
  41 times
p 8 times
r 17 times
i 14 times
n 10 times
t 19 times
s 9 times
  41 times
t 19 times
h 9 times
e 22 times
  41 times
n 10 times
u 9 times
m 12 times
b 5 times
e 22 times
r 17 times
s 9 times
  41 times
f 10 times
r 17 times
o 13 times
m 12 times
  41 times
1 2 times
  41 times
t 19 times
o 13 times
  41 times
1 2 times
0 2 times
0 2 times
. 2 times
  41 times
b 5 times
u 9 times
t 19 times
  41 times
f 10 times
o 13 times
r 17 times
  41 times
m 12 times
u 9 times
l 6 times
t 19 times
i 14 times
p 8 times
l 6 times
e 22 times
s 9 times
  41 times
o 13 times
f 10 times
  41 times
t 19 times
h 9 times
r 17 times
e 22 times
e 22 times
  41 times
p 8 times
r 17 times
i 14 times
n 10 times
t 19 times
  41 times
m 12 times
i 14 times
c 3 times
k 2 times
e 22 times
y 2 times
  41 times
i 14 times
n 10 times
s 9 times
t 19 times
e 22 times
a 7 times
d 3 times
  41 times
o 13 times
f 10 times
  41 times
t 19 times
h 9 times
e 22 times
  41 times
n 10 times
u 9 times
m 12 times
b 5 times
e 22 times
r 17 times
  41 times
a 7 times
n 10 times
d 3 times
  41 times
f 10 times
o 13 times
r 17 times
  41 times
t 19 times
h 9 times
e 22 times
  41 times
m 12 times
u 9 times
l 6 times
t 19 times
i 14 times
p 8 times
l 6 times
e 22 times
s 9 times
  41 times
o 13 times
f 10 times
  41 times
f 10 times
i 14 times
v 2 times
e 22 times
  41 times
p 8 times
r 17 times
i 14 times
n 10 times
t 19 times
  41 times
m 12 times
o 13 times
u 9 times
s 9 times
e 22 times
. 2 times
  41 times
f 10 times
o 13 times
r 17 times
  41 times
n 10 times
u 9 times
m 12 times
b 5 times
e 22 times
r 17 times
s 9 times
  41 times
w 2 times
h 9 times
i 14 times
c 3 times
h 9 times
  41 times
a 7 times
r 17 times
e 22 times
  41 times
m 12 times
u 9 times
l 6 times
t 19 times
i 14 times
p 8 times
l 6 times
e 22 times
s 9 times
  41 times
o 13 times
f 10 times
  41 times
b 5 times
o 13 times
t 19 times
h 9 times
  41 times
t 19 times
h 9 times
r 17 times
e 22 times
e 22 times
  41 times
a 7 times
n 10 times
d 3 times
  41 times
f 10 times
i 14 times
v 2 times
e 22 times
  41 times
p 8 times
r 17 times
i 14 times
n 10 times
t 19 times
  41 times
m 12 times
i 14 times
c 3 times
k 2 times
e 22 times
y 2 times
m 12 times
o 13 times
u 9 times
s 9 times
e 22 times

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [50]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [55]:
def unique(l):
    for i in range(len(l)):
        test = len[i]
        for i in range(len(l)):
            if ( test != l[i]):
                print("unique number %1d"% (l[i]))

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [60]:
def square(x):
    return x*x

def cube(x):
    return x*x*x

def sixth(x):
    return square(cube(x))

x = 2
print("square of %1d = %1d"% (x, square(2)))
print("cube of %1d = %1d"% (x, cube(2)))
print("sixth of %1d = %1d"% (x, sixth(2)))

square of 2 = 4
cube of 2 = 8
sixth of 2 = 64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [63]:
lista = []

for i in range(0,10):
    lista.append(pow(i,3))

print(lista)

lista2 = [pow(x, 3) for x in range(10)]
print(lista2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [75]:
lista2 = []
def pit(a,b):
    return pow(a,2) + pow(b, 2)

for a in range(1,10):
    for b in range(1,10):
        if (math.sqrt(pit(a,b)).is_integer() and math.sqrt(pit(a,b)) < 100):
            lista = []
            lista.append(a)
            lista.append(b)
            lista.append(int(math.sqrt(pit(a,b))))
            tupla = tuple(lista)
            lista2.append(tupla)
            
        else:
            continue
            
tupla = tuple(lista2)
print(tupla)

((3, 4, 5), (4, 3, 5), (6, 8, 10), (8, 6, 10))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [84]:
def lenght(v):
    l = 0
    for i in range(len(v)):
        l += v[i]**2 
    return math.sqrt(l)
    
def norm(v):
    lista = []
    norma = lenght(v)
    for i in range(len(v)):
        lista.append(v[i]/norma)
    return lista

v = (3,4,5)
w = tuple(norm(v))
print(w, lenght(w))

(0.4242640687119285, 0.565685424949238, 0.7071067811865475) 0.9999999999999999